<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="mundo" class="com.capgemini.beans.HolaMundo"></bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona" -->
	<!-- <property name="id" value="1"></property> -->
	<!-- <property name="nombre" value="Joe"></property> -->
	<!-- <property name="apodo" value="J"></property> -->
	<!-- </bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona"> -->
	<!-- <constructor-arg type = "int" index ="0" value="1"></constructor-arg> -->
	<!-- <constructor-arg type = "String" index = "2" value="Phill"></constructor-arg> -->
	<!-- <constructor-arg type = "String" index = "1" value="Phillip"></constructor-arg> -->
	<!-- </bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona"> -->
	<!-- <constructor-arg value="1"></constructor-arg> -->
	<!-- <constructor-arg value="Phillip"></constructor-arg> -->
	<!-- <constructor-arg value="Phill"></constructor-arg> -->
	<!-- </bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona"> -->
	<!-- <constructor-arg value="1"></constructor-arg> -->
	<!-- </bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona"> -->
	<!-- <constructor-arg type="int" value="1"></constructor-arg> -->
	<!-- </bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona"> -->
	<!-- <property name="id" value="1"></property> -->
	<!-- <property name="nombre" value="Joe"></property> -->
	<!-- <property name="apodo" value="J"></property> -->
	<!-- <property name="pais" ref="pais"></property> -->
	<!-- </bean> -->

	<!-- <bean id="pais" class="com.capgemini.beans.Pais"> -->
	<!-- <property name="nombre" value="Suecia"></property> -->
	<!-- <property name="ciudad" ref="ciudad"></property> -->
	<!-- </bean> -->

	<!-- <bean id="ciudad" class="com.capgemini.beans.Ciudad"> -->
	<!-- <property name="nombre" value="Dublin"></property> -->
	<!-- </bean> -->

	<!-- <bean id="persona" class="com.capgemini.beans.Persona" name="personaName"> -->
	<!-- <property name="id" value="1"></property> -->
	<!-- <property name="nombre" value="Joe"></property> -->
	<!-- <property name="apodo" value="J"></property> -->
	<!-- <property name="pais"> -->
	<!-- <bean id="pais" class="com.capgemini.beans.Pais"> -->
	<!-- <property name="nombre" value="Suecia"></property> -->
	<!-- <property name="ciudad"> -->
	<!-- <bean id="ciudad" class="com.capgemini.beans.Ciudad"> -->
	<!-- <property name="nombre" value="Estocolmo"></property> -->
	<!-- </bean> -->
	<!-- </property> -->
	<!-- </bean> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- Guia7 Colecciones -->
	<bean id="persona" class="com.capgemini.beans.Persona">
		<property name="id" value="1"></property>
		<property name="nombre" value="Esmirnoff"></property>
		<property name="apodo" value="Miri"></property>
		<property name="pais" ref="pais"></property>
	</bean>
	<bean id="pais" class="com.capgemini.beans.Pais">
		<property name="nombre" value="Argentina"></property>
		<property name="ciudades">
			<list>
				<ref bean="ciudad"></ref>
				<ref bean="ciudad1"></ref>
				<ref bean="ciudad2"></ref>
			</list>
		</property>
	</bean>
	<bean id="ciudad" class="com.capgemini.beans.Ciudad">
		<property name="nombre" value="Chubut"></property>
	</bean>
	<bean id="ciudad1" class="com.capgemini.beans.Ciudad">
		<property name="nombre" value="Buenos Aires"></property>
	</bean>
	<bean id="ciudad2" class="com.capgemini.beans.Ciudad">
		<property name="nombre" value="Cordoba"></property>
	</bean>

	<alias name="persona" alias="personaAlias"></alias>
	
	
	
</beans>
